@page "{articleId?}"
@model Article

@{
    Layout = "Shared/_Layout";
}

<div class="article_parent">
    <div id="header_line">
        <img id="placeholder" class="star" src="/icons/empty_star.png" alt="Add to favourite">
        <h1 id="article_header">@Model.ArticlePars[0]</h1>
        <img id="empty_star" class="star" src="/icons/empty_star.png" style="display: flex" hidden="@(Request.Cookies["user_id"] == null)" alt="Add to favourite" onclick="StarOnClick(@Model.ArticlePars[5], 'none', 'flex', 'Add')">
        <img id="filled_star" class="star" src="/icons/filled_star.png" style="display: none" alt="Add to favourite" onclick="StarOnClick(@Model.ArticlePars[5], 'flex', 'none', 'Remove')">
    </div>
    <img src="/img/placeholder.jpg" alt="article_image"> @*@Model.ArticlePars[1]*@
    <p>@Model.ArticlePars[2]</p>
    <p></p>
</div>