@page "{index?}"
@model Forum

@{
    Layout = "Shared/_Layout";
}

<div class="container-fluid">
    <img id="empty_star" class="star" src="/icons/empty_star.png" style="display: @(Request.Cookies["user_id"] == null || Model.CountForumToUser != 0 ? "none" : "flex")" alt="Add to favourite" onclick="AddToFavorite('/Forum', @Model.ChatPars[2], 'none', 'flex', 'Add')">
    <img id="filled_star" class="star" src="/icons/filled_star.png" style="display: @(Request.Cookies["user_id"] == null || Model.CountForumToUser == 0 ? "none" : "flex")" alt="Add to favourite" onclick="AddToFavorite('/Forum', @Model.ChatPars[2], 'flex', 'none', 'Remove')">
    <div class="forum-box">
        <div class="forum">
            <h2 class="forum-title">@Model.ChatPars[0]</h2>
            <div class="forum_description">@Model.ChatPars[1]</div>
            @* <div class="col-md-1 offset-md-11 forum-peoples"> *@
            @*     <img class="forum-peoples-svg" src="icons/people.svg" alt=""> *@
            @*     <div class="forum-peoples-count">0</div> *@
            @* </div> *@
            <hr>
            <div class="chat-box">
                <div class="chat">

                    <div class="chat-container-box">
                        <div id="chat-red" class="chat-container">

                            <div class="messages_from_user" id="-1">
                                <div class="login">Мик Гордон</div>
                                <img class="message-img" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="">
                                <div class="message-place">
                                    <div class="message-box">
                                        <div class="message">Hi</div>
                                    </div>
                                    <div class="message-box">
                                        <div class="message">How are you ...???</div>
                                    </div>
                                </div>
                            </div>
                            @if (Model.messages.FirstOrDefault() != null)
                            {
                                var userMess = new List<object>();
                                var userId = Model.messages.FirstOrDefault()[1].ToString();
                                var user = new List<object>();
                                @foreach (var element in Model.messages)
                                {
                                    if (userId != element[1].ToString())
                                    {
                                        userId = element[1].ToString();
                                        user = DataBase.Select("SELECT login, img FROM users WHERE user_id = " + userId + ";")[0];
                                        <div class="messages_from_user" id="@userId">
                                            <div class="login">@user[0]</div>
                                            <img class="message-img" src="@(user[1].ToString() == "" ? "https://img.icons8.com/color/36/000000/administrator-male.png" : user[1])" alt="">
                                            <div class="message-place">
                                                @foreach (var message in userMess)
                                                {
                                                    <div class="message-box">
                                                        <div class="message">@message</div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                    else
                                        userMess.Add(element[2]);
                                }
                                user = DataBase.Select("SELECT login, img FROM users WHERE user_id = " + userId + ";")[0];
                                <div class="messages_from_user" id="@userId">
                                    <div class="login">@user[0]</div>
                                    <img class="message-img" src="@(user[1].ToString() == "" ? "https://img.icons8.com/color/36/000000/administrator-male.png" : user[1])" alt="">
                                    <div class="message-place">
                                        @foreach (var message in userMess)
                                        {
                                            <div class="message-box">
                                                <div class="message">@message</div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="publisher" hidden="@(Request.Cookies["user_id"] == null)">
                    <form class="chat-form">
                        <input id="chatInput" type="text" placeholder="Type a message..." autocomplete="off">
                        <button onclick="sendMessage('@Url.Page("./Forum")', 'insert', '@Model.ChatPars[2]', '@Request.Cookies["user_id"]', '@Request.Cookies["login"]', '@Request.Cookies["img_user"]')" id="send-btn" class="btn btn-secondary" type="button">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>