@model object

<div class="account_sidebar_background border-right" id="account_sidebar">
    @* <div id="sidebar_heading">Start Bootstrap </div> *@
    <div class="list-group list-group-flush">
        <img src="@(Model != null ? Model : "img/placeholder.jpg")" alt="account picture placeholder" class="list-group-item list-group-item-action account_sidebar_background account_sidebar_item">
        <a onclick="Redirect('@Url.Page("./Account")')" class="loadPage list-group-item list-group-item-action account_sidebar_background account_sidebar_item">Настройки</a>
        <a onclick="Redirect('@Url.Page("./ArticleConstructor")')" class="loadPage list-group-item list-group-item-action account_sidebar_background account_sidebar_item">Создать статью</a>
        <a onclick="Redirect('@Url.Page("./AccountArticles")')" class="loadPage list-group-item list-group-item-action account_sidebar_background account_sidebar_item">Избранные статьи</a>
        <a onclick="Redirect('@Url.Page("./AccountForum")')" class="loadPage list-group-item list-group-item-action account_sidebar_background account_sidebar_item">Форум</a>
        <a onclick="PostOnClick('@Url.Page("./Account")', 'exit')" class="loadPage list-group-item list-group-item-action account_sidebar_background account_sidebar_item">Выйти</a>
    </div>
</div>