@model object

<div class="account_sidebar_background border-right" id="account_sidebar">
    @* <div id="sidebar_heading">Start Bootstrap </div> *@
    <div class="list-group list-group-flush">
<<<<<<< HEAD
<<<<<<< HEAD
        <img src="@(Model != null ? Model : "img/placeholder.jpg")" alt="account picture placeholder" class="list-group-item list-group-item-action account_sidebar_background">
        <a onclick="Redirect('@Url.Page("./Account")')" class="loadPage list-group-item list-group-item-action account_sidebar_background">Настройки</a>
        <a onclick="Redirect('@Url.Page("./ArticleConstructor")')" class="loadPage list-group-item list-group-item-action account_sidebar_background">Создать статью</a>
        <a onclick="Redirect('@Url.Page("./AccountArticles")')" class="loadPage list-group-item list-group-item-action account_sidebar_background">Избранные статьи</a>
        <a onclick="Redirect('@Url.Page("./AccountForum")')" class="loadPage list-group-item list-group-item-action account_sidebar_background">Форум</a>
        <a onclick="PostOnClick('@Url.Page("./Account")')" class="loadPage list-group-item list-group-item-action account_sidebar_background">Выйти</a>
=======
=======
>>>>>>> 020e1d0286204b8a598885da3b41b11e9c9a63d5
        <img src="@(Model != null ? Model : "img/placeholder.jpg")" alt="account picture placeholder" class="list-group-item list-group-item-action account_sidebar_background account_sidebar_item">
        <a onclick="Redirect('@Url.Page("./Account")')" class="loadPage list-group-item list-group-item-action account_sidebar_background account_sidebar_item">Настройки</a>
        <a onclick="Redirect('@Url.Page("./ArticleConstructor")')" class="loadPage list-group-item list-group-item-action account_sidebar_background account_sidebar_item">Создать статью</a>
        <a onclick="Redirect('@Url.Page("./AccountArticles")')" class="loadPage list-group-item list-group-item-action account_sidebar_background account_sidebar_item">Избранные статьи</a>
        <a onclick="Redirect('@Url.Page("./AccountForum")')" class="loadPage list-group-item list-group-item-action account_sidebar_background account_sidebar_item">Форум</a>
        <a onclick="PostOnClick('@Url.Page("./Account")" class="loadPage list-group-item list-group-item-action account_sidebar_background account_sidebar_item">Выйти</a>
<<<<<<< HEAD
>>>>>>> 020e1d0286204b8a598885da3b41b11e9c9a63d5
=======
>>>>>>> 020e1d0286204b8a598885da3b41b11e9c9a63d5
    </div>
</div>